---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
bootstrapTokens:
- groups:
  - system:bootstrappers:kubeadm:default-node-token
  token: {{ k8s_init_token }}
  ttl: 4h0m0s
  usages:
  - signing
  - authentication
localAPIEndpoint:
  advertiseAddress: {{ lookup('community.general.dig', k8s_control_plane_endpoint) }}
  bindPort: 6443
nodeRegistration:
  criSocket: unix:///var/run/crio/crio.sock
  imagePullPolicy: IfNotPresent
  imagePullSerial: true
  name: {{ inventory_hostname }}
  taints: null
timeouts:
  controlPlaneComponentHealthCheck: 4m0s
  discovery: 5m0s
  etcdAPICall: 2m0s
  kubeletHealthCheck: 4m0s
  kubernetesAPICall: 1m0s
  tlsBootstrap: 5m0s
  upgradeManifests: 5m0s
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
{% if k8s_control_plane_endpoint is defined %}
apiServer:
  certSANs:
    - {{ k8s_control_plane_endpoint }}
{% else %}
apiServer: {}
{% endif %}
caCertificateValidityPeriod: 87600h0m0s
certificateValidityPeriod: 8760h0m0s
certificatesDir: /etc/kubernetes/pki
clusterName: kubernetes
controllerManager: {}
dns: {}
encryptionAlgorithm: RSA-2048
etcd:
  local:
    dataDir: /var/lib/etcd
imageRepository: registry.k8s.io
kubernetesVersion: {{ k8s_version }}.0
networking:
  dnsDomain: cluster.local
  serviceSubnet: {{ k8s_svc_cidr }}
  podSubnet: {{ k8s_pod_cidr }}
{% if k8s_control_plane_endpoint is defined %}
controlPlaneEndpoint: "{{ k8s_control_plane_endpoint }}:6443"
{% endif %}
proxy: {}
scheduler: {}
